@import '../_helpers/function';

.userName{
    font-size: px-to-rem(20, 16);
    font-weight: 500;
    background-color: var(--color-6);
    padding-top: 16px;
    padding-bottom: 16px;
}

form{
    display: flex;
    flex-wrap: wrap;
    .leftCol{
        width: 100%;
        border-right: 1px dashed var(--color-5);
        .stageWrapper{
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px dashed var(--color-5);
            max-height: 80px;
            height: 80px;
            div{
                width: fit-content;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    width: 34px;
                    height: 100%;
                    border-left: 1px solid var(--color-7);
                    right: 0;
                    background-image: url("../../images/arrow_down.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    pointer-events: none;
                }
            }
            select{
                height: 40px;
                padding: 0 50px 0 20px;
                border-radius: 8px;
                font-size: px-to-rem(14, 16);
                font-weight: 500;
                color: var(--color-1);
                appearance: none;
                outline: none;
                position: relative;
                cursor: pointer;
            }
        }
        .paddingLeftRight{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .salaryWrapper{
            display: flex;
            align-items: center;
            span{
                margin: 10px 20px 0 20px;
            }
            input{
                width: 60px;
            }
        }
        .skillsTagWrapper{
            width: 50%;
            display: flex;
            gap: 12px;
            flex-wrap: wrap;
            div{
                padding: 9px 18px;
                font-size: px-to-rem(14, 16);
                color: var(--color-2);
                border-radius: 18px;
                background: var(--color-6);
                position: relative;
                margin-bottom: 12px;
                button{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border: 1px solid var(--color-1);
                    background: var(--color-1);
                    border-radius: 100%;
                    color: var(--color-7);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: -5px;
                    right: -5px;
                }
            }
        }
    }
    .rightCol{
        width: 100%;
        .addedWrapper{
            padding: 10px 20px;
            display: flex;
            flex-wrap: wrap;
            font-size: px-to-rem(12, 16);
            border-bottom: 1px dashed var(--color-5);
            max-height: 80px;
            height: 80px;
            .title{
                color: var(--color-4);
                margin-bottom: 8px;
            }
            .time{
                color: var(--color-3);
            }
            .added{
                padding-right: 16px;
                border-right: 1px solid var(--color-5);
            }
            .lastupdate{
                padding-left: 16px;
            }
        }
        .actions{
            padding: 20px 0;
            width: 90%;
            margin: 0 auto;
            border-bottom: 1px dashed var(--color-5);
            .actionTitle{
                font-size: px-to-rem(14, 16);
                color: var(--color-3);
                margin-bottom: 8px;
                b{
                    font-weight: 400;
                    color: var(--color-1);
                }
                span{
                    width: 12px;
                    height: 12px;
                    display: inline-block;
                    border-radius: 4px;
                }
            }
            .actionTime{
                font-size: px-to-rem(12, 16);
                color: var(--color-3);
            }
        }
        @media screen and (min-width: 768px) {
            .addedWrapper{
                padding: 20px 40px;
            }
        }
    }
    @media screen and (min-width: 1280px) {
        .leftCol,
        .rightCol{
            width: 50%;
        }
    }
}