@import '../_helpers/function';

.input{
    background: transparent;
    margin-bottom: 20px;
    width: fit-content;
    position: relative;
    input{
        border: none;
        line-height: 19px;
        font-size: px-to-rem(16, 16);
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
        &[type=number]{
            -moz-appearance: textfield;
        }
        &.editing{
            text-decoration: underline;
        }
        &.empty{
            border-bottom: 1px solid var(--color-1);
        }
    }
    button{
        width: 20px;
        height: 20px;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        cursor: pointer;
    }
    .clearSubmitButtons{
        position: absolute;
        left: 110%;
        bottom: 0;
        display: flex;
        z-index: 2;
        button{
            &:first-child{
                background-image: url('../../images/clear.svg');
                margin-right: 8px;
            }
            &:last-child{
                background-image: url('../../images/submit.svg');
            }
        }
    }
    .editButton{
        background-image: url('../../images/edit.svg');
        width: 10px;
        height: 10px;
        position: absolute;
        left: 110%;
        bottom: 5px;
    }
    &.max_salary{
        margin-top: 20px;
    }
    .buttonsInputWrapper{
        position: relative;
        width: fit-content;
    }
}