body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

:root{
  --color-1: #010414;
  --color-2: #41434F;
  --color-3: #808189;
  --color-4: #BFC0C4;
  --color-5: #E6E6E7;
  --color-6: #F6F6F7;
  --color-7: #FFFFFF;
  --color-i: #1013EF;
  --color-ii:#EF1083;
  --color-iii:#EFEC10;
  --color-iv: #10EF7C;
}

.container{
  width: 90vw;
  margin: 25px auto;
  border: 1px solid var(--color-6);
  border-radius: 8px;
}
.paddingLeftRight{
  padding: 0 20px;
}
.label{
  font-size: 14px;
  font-weight: 700;
  color: var(--color-1);
  margin-bottom: 12px;
}
.loading{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
}
@media screen and (min-width: 768px){
  .container{
    width: 80vw;
    margin: 50px auto;
  }
  .paddingLeftRight{
    padding: 0 40px;
  } 
}
